* text eol=lf

#
## These files are binary and should be left untouched
#

# (binary is a macro for -text -diff)
*.png binary eol=auto
*.jpg binary eol=auto
*.jpeg binary eol=auto
*.gif binary eol=auto
*.ico binary eol=auto
*.mov binary eol=auto
*.mp4 binary eol=auto
*.mp3 binary eol=auto
*.flv binary eol=auto
*.fla binary eol=auto
*.swf binary eol=auto
*.gz binary eol=auto
*.zip binary eol=auto
*.7z binary eol=auto
*.ttf binary eol=auto
*.eot binary eol=auto
*.woff binary eol=auto
*.pyc binary eol=auto
*.pdf binary eol=auto